# Database Configuration
DATABASE_URL="<YOUR_DATABASE_URL>"
DATABASE_NAME="<YOUR_DATABASE_NAME>"
DATABASE_PORT="<YOUR_DATABASE_PORT>"
DATABASE_USERNAME="<YOUR_DATABASE_USERNAME>"
DATABASE_PASSWORD="<YOUR_DATABASE_PASSWORD>"

# Set running port
PORT="8080"

# GOOGLE CLOUD ENVIRONMENT
PROJECT_ID = "<YOUR_PROJECT_ID>"
KEY_SECRET_FILE = "<YOUR_KEY_SECRET_FILE>"

# Cloud Storage Configuration
BUCKET_NAME = "<YOUR_BUCKET_NAME>"